body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.wrap {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style: none;
}

header {
	background-color: #f3f7f8;
}

.huynya {
	position: absolute;
	background-color: #293449;
	width: 100%;
	height: 42px;
}

.header-wrap {
	min-height: 320px;
    width: 940px;
    margin-left: 480px;
}

.top {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background-color: #293449;
	height: 42px;
}

.logo-search {
	display: flex;
	width: 380px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.logo {
	display: block;
	max-height: 42px;
	min-width: 220px;
	background-color: #ee3643;
	box-shadow: 0 5px #b52933;
}

.logo a {
	display: block;
	padding-top: 9px;
	font-family: 'Cuprum', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	line-height: 26px;
	border: none;
}

.form {
	display: block;
	max-height: 42px;
	min-width: 270px;
}

.search-form {
	position: relative;
}

.search-form input {
	height: 42px;
	width: 270px;
	padding-left: 48px;
}

.input {
	padding: 0;
	border: none;
	background-color: #293449;
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
	line-height: 18px;
	outline: none;
}

input[type="search"]::-webkit-input-placeholder {
    color: #fff;
}

input[type="search"]:focus {
	background-color: white;
}

input[type="search"]:hover {
	background-color: #212a3a;
}

.button-search {
	position: absolute;
	background-color: #293449;
	border: none;
	outline: none;
}

.search-form:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	width: 17px;
	height: 17px;
	background: url("../img/icon-search.png");
	background-repeat: no-repeat; 
	opacity: 0.3;
}


.search-form:hover:before {
	opacity: 1;
}

.orders {
	display: flex;
	flex-wrap: wrap;
    align-items: flex-end;
    text-align: center;
	margin: 0;
	padding-left: 118px;
	font-family: 'Cuprum', sans-serif;
}

.orders a {
	position: relative;
	font-size: 17px;
	line-height: 18px;
}

.bookmarks {
	padding-left: 35px;
	padding-bottom: 10px;
	padding-top: 11px;
	padding-right: 33.5px;
}

.bascket {
	padding-bottom: 10px;
	padding-top: 11px;
	padding-right: 31px;
	padding-left: 43.5px;
}

.get {
	background-color: #63a63e;
	height: 42px;
	margin-left: 1px;
}

.get a {
	display: block;
	padding-top: 10.5px;
	padding-right: 21px;
	padding-left: 21px;
}

.bookmarks a:before {
	content: "";
	position: absolute;
	top: 1px;
	left: -27px;
	width: 14px;
	height: 16px;
	background: url("../img/icon-bookmark.png");
	background-repeat: no-repeat; 
	opacity: 0.3;
}

.bascket a:before {
	content: "";
	position: absolute;
	top: 1px;
	left: -31px;
	width: 15px;
	height: 15px;
	background: url("../img/bascket.png");
	background-repeat: no-repeat; 
	opacity: 0.3;
}

.bookmarks:hover,
.bascket:hover {
	background-color: #212a3a;
}

.get:hover {
	background-color: #5fbb2d;
}

.bookmarks a:hover:before,
.bascket a:hover:before {
	opacity: 1;
}

.bookmarks:focus,
.bascket:focus {
	background-color: #161d29;
}

.get:focus {
	background-color: #518534;
}

.bookmarks a:focus,
.bascket a:focus,
.get a:focus {
color: #999ca1;
}

.hz {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.description {
	text-align: left;
    font-family: 'Cuprum', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 22px;
    color: #ee3643;
    font-weight: bold;
    padding-top: 33px;
    padding-left: 53px;
}

.center {
	position: relative;
}

.telephone {
    display: block;
    border: 3px solid #fff;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
    font-size: 22px;
    line-height: 16px;
    color: #ee3643;
    margin-top: 46px;
    margin-left: 25px;
    margin-bottom: 16px;
    padding-right: 50px;
    padding-bottom: 11px;
    padding-left: 65px;
    padding-top: 12px;
}

.telephone:before {
	content: "";
	position: absolute;
	top: 59px;
    left: 40px;
	width: 18px;
	height: 19px;
	background-image: url("../img/icon-phone.png");
	background-repeat: no-repeat;
}

.adress {
	display: block;
	width: 265px;
	font-family: 'Cuprum', sans-serif;
	text-align: center;
	font-size: 14px;
	line-height: 0px;
	color: #32425c;
	padding-left: 26px;
}

.right {
	margin-top: 46px;
	padding: 0;
}

.block-right {
	position: relative;
	display: flex;
	margin: 0; 
	padding: 0;
}

.button {
	display: block;
	padding-top: 14px;
	padding-bottom: 15px;
	background-color: #fff;
	font-family: 'Cuprum', sans-serif;
	font-size: 22px;
    line-height: 16px;
	color: #000;
}

.block-right li:last-child {
	padding-left: 10px;
}

.block-right li:first-child {
	margin-left: 18px;
}

.enter {
	padding-left: 47px;
    padding-right: 24px;
}

.enter:before {
	content: "";
	position: absolute;
	top: 14px;
    left: 31px;
	width: 20px;
	height: 17px;
	background-image: url("../img/icon-login.png");
	background-repeat: no-repeat;
	opacity: 0.1;
}

.registration {
	padding-right: 20px;
    padding-left: 23px;
}

.enter:hover:before {
	opacity: 1;
}

.button:hover {
	color: #ee3643;
}

.button:focus {
	color: #c5c5c5;
}

.main-navigation {
	width: 942px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	margin-top: 25px;
	margin-bottom: 0;
	padding: 0;
	background-color: #32425c;
	box-shadow: 0 5px #293449;
}

.navigation-item {
	padding-top: 21px;
	padding-bottom: 18px;
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
    line-height: 18px;
}

.main {
	padding-left: 50px;
	padding-right: 25px;
}

.company {
	padding-left: 38px;
	padding-right: 25px;
}

.catalog {
	padding-right: 25px;
	padding-left: 28px;
}

.news {
	padding-right: 25px;
	padding-left: 32px;
}

.offers {
	padding-right: 25px;
	padding-left: 32px;
}

.delivery {
	padding-right: 25px;
	padding-left: 30px;
}

.contacts {
	padding-right: 53px;
	padding-left: 34px;
}

.navigation-item:hover {
	background-color: #293449;
}

.navigation-item a:focus {
	color: #b2b2b2;
}

/* Контент */

.block-one {
	margin-left: 480px;
    width: 940px;
}

.promo-top {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin-top: 60px;
}

.promo-item {
	position: relative;
	width: 300px;
	min-height: 123px;
}

.materials {
	background-color: #ffbf47;
}

.materials:before {
	content: "";
	position: absolute;
	width: 60px;
	height: 59px;
	top: 0px;
	left: 240px;
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
}

.materials:after {
	content: "";
	position: absolute;
	width: 44px;
	height: 65px;
	top: 30px;
	left: 212px;
	background-image: url("../img/icon-1.png");
	background-repeat: no-repeat;
}

.tools {
	background-color: #3bbce3;
}

.tools:after {
	content: "";
	position: absolute;
	width: 75px;
	height: 61px;
	top: 32px;
	left: 196px;
	background-image: url("../img/icon-2.png");
	background-repeat: no-repeat;
}

.machinery {
	background-color: #dc91d8;
}

.machinery:after {
	content: "";
	position: absolute;
	width: 78px;
	height: 62px;
	top: 30px;
	left: 190px;
	background-image: url("../img/icon-3.png");
	background-repeat: no-repeat;
}

.promo-name {
	font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 23px;
    padding-bottom: 25px;
    margin: 0;
}

.promo-button {
	background-color: rgba(106, 113, 128, 0.3);
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #fdfbfb;
    border-radius: 3px;
    margin-left: 25px;
}

.promo-button:hover {
	background-color: rgba(106, 113, 128, 0.5);
}

.promo-button:focus {
	background-color: rgba(106, 113, 128, 0.8);
}

.materials a {
	padding: 12px 24px 10px;
}

.tools a {
	padding: 12px 24px 10px 26px;
}

.machinery a {
	padding: 12px 30px 10px 28px;
}

.promo-bottom {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin-top: 20px;
}

.sales {
	background-color: #8ed78f;
}

.delivery-promo {
	background-color: #ffc047;
	margin-top: 20px;
}

.sales a {
	padding: 12px 24px 10px 20px;
}

.delivery-promo a {
	padding: 12px 34px 10px 36px;
}

.sales:after {
	content: "";
	position: absolute;
	width: 60px;
	height: 73px;
	top: 25px;
	left: 194px;
	background-image: url("../img/icon-4.png");
	background-repeat: no-repeat;
}

.delivery-promo:after {
	content: "";
	position: absolute;
	width: 78px;
	height: 64px;
	top: 30px;
	left: 190px;
	background-image: url("../img/icon-5.png");
	background-repeat: no-repeat;
}

.slide-1 {
	background: url("../img/slide-1.jpg");
  	background-repeat: no-repeat;
  	height: 266px;
 	width: 620px;
}

.slide-2 {
	background: url("../img/slide-2.jpg");
  	background-repeat: no-repeat;
  	height: 266px;
 	width: 620px;
}

.promo-slide p:first-child {
	font-family: 'Cuprum', sans-serif;
	margin: 0;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 29px;
    padding-left: 22px;
}

.promo-slide p:nth-child(2) {
	font-family: 'Cuprum', sans-serif;
	margin: 0;
	font-size: 18px;
	padding-top: 11px;
    padding-left: 24px;
    padding-bottom: 132px;
}

.promo-slide a {
	background-color: #ee3643;
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 49px;
    margin-left: 25px;
}

.slide-button-next {
	position: absolute;
    z-index: 10;
    width: 0px;
    height: 0px;
    top: 135px;
    left: 580px;
    cursor: pointer;
}

.slide-button-prev {
	position: absolute;
	z-index: 10;
    width: 0px;
    height: 0px;
	top: 135px;
    left: 26px;
    cursor: pointer;
}

.popular-title {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	background-color: #f2eadf;
	margin-top: 52px;
	padding: 0;
}

.popular-title h2 {
	font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
    padding-top: 30px;
    padding-left: 28px;
    padding-bottom: 28px;
}

.popular-title li:last-child {
    margin-bottom: 33px;
    margin-left: 374px;
}

.popular-title a {
	font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ee3643;
    border-radius: 3px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-right: 56px;
    padding-left: 53px;
}


.popular-items {
	display: flex;
	margin-top: 20px;
}

.popular-item {
	position: relative;
	display: inline-block;
	min-width: 218px;
	margin-bottom: 20px;
	margin-right: 20px;
	border: 1px solid #ccc;
	line-height: 18px;
    font-size: 16px;
    font-weight:bold;
    color: #000;
    text-align:center;
}

.popular-item .flag{
    position: absolute;
    background: url("../img/new-flag.png") no-repeat 0 0;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.popular-item .actions {
	position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.popular-item .actions .buy,
.popular-item .actions .bookmark {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315; 
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;    
    border-radius: 3px;
}

.popular-item .actions .bookmark{
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.popular-item .actions {
    display: none;
}
.popular-item:hover .actions {
    display: block;
}

.first .title {
	margin-top: 5px;
	margin-bottom: 10px;
}

.perf-1 {
	margin-top: 8px;
	width: 185px;
	height: 165px;
}

.second .title {
	margin-top: 36px;
	margin-bottom: 10px;
}
 
.perf-2 {
	margin-top: 32px;
    margin-right: 10px;
    width: 125px;
    height: 110px;
}

.third .title {
	margin-top: 28px;
	margin-bottom: 10px;
}

.perf-3 {
	margin-top: 25px;
    margin-right: 20px;
    width: 145px;
    height: 125px;
}

.four .title{
	margin-top: 36px;
	margin-bottom: 38px;
}

.perf-4 {
	margin-top: 32px;
    margin-right: 25px;
    width: 125px;
    height: 110px;
}

.popular-item .title {
    min-height: 40px;
    padding: 0 25px;
}
.popular-item .discount {
    min-height: 20px;
    margin-left: 5px;
    margin-bottom: 7px;
    color: #999;
    text-decoration: line-through;
}
.popular-item .price {
	position:relative;
    width:80px;
    margin-bottom:20px;
    margin-left: 43px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}
.popular-item .price:after {
	content: "";
    position: absolute;
    top: 0px;
    right: -20px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.popular-producers-title {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	background-color: #f2eadf;
	margin: 0;
	padding: 0;
}

.popular-producers-title h2 {
	font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
    padding-top: 30px;
    padding-left: 26px;
    padding-bottom: 28px;
}

.popular-producers-title li:last-child {
    margin-bottom: 33px;
    margin-left: 272px;
}

.popular-producers-title a {
	font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ee3643;
    border-radius: 3px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-right: 70px;
    padding-left: 67px;
}

.popular-producers-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 21px;
	padding: 0;
}

.producers-item {
	width: 218px;
	min-height: 143px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

.produce-image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.background {
	background-color: #f4f8f9;
}

.services {
	width: 940px;
	height: 522px;
	margin-left: 480px;
	margin-top: 65px;
}

.service-title {
	padding-top: 65px;
}

.service-title h2 {
	font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    margin: 0;
}

.service-title p {
	color: #000;
	font-size: 12px;
	line-height: 16px;
}

.service-title p:nth-child(2) {
	padding-top: 17px;
}

.service-list {
	float: left;
	display: block;
	position: relative;
	width: 240px;
	padding: 0;
	margin-top: 58px;
	z-index: 20;
}

.service-list:after {
	position: absolute;
	content: "";
	width: 8px;
	height: 250px;
	top: -32px;
    left: 233px;
	background: url("../img/line.png") no-repeat;
}

.tab {
	position: relative;
	background-color: #32425c;
	font-family: 'Cuprum', sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
}

.tabs__caption .tab:not(.active) {
    cursor: pointer;
}

.service-list .active {
	background-color: #fff;
	color: #000;
}

.tab span {
	display: inline-block;
}

.tab-delivery,
.tab-guarantee {
	border-bottom: 1px solid #4d637b;
}

.tab-delivery span {
    padding-top: 10px;
    padding-left: 23px;
    padding-bottom: 17px;
}

.tab-guarantee span {
	padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 18px;
}

.tab-credit span {
	padding-top: 12px;
    padding-left: 23px;
    padding-bottom: 17px;
}

.tabs__content {
	display: none;
	position: relative;
}

.tabs__content.active {
	display: block;
}

.tabs__content h3 {
	font-family: 'Cuprum', sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
}

.tabs__content p {
	font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #32425c;
    padding-top: 12px;
}

.tab-title {
	padding-left: 320px;
    padding-top: 57px;
}

.tab-title a {
	font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    background-color: #ee3643;
    border-radius: 3px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    padding-left: 45px;
    padding-right: 45px;
}

.credit-content p {
	padding-bottom: 20px;
}

.delivery-content:after {
	content: "";
	position: absolute;
	width: 468px;
	height: 261px;
	top: 81px;
    left: 471px;
	background: url("../img/delivery.png") no-repeat;
}

.guarantee-content:after {
	content: "";
	position: absolute;
	width: 390px;
    height: 285px;
    top: 81px;
    left: 520px;
	background: url("../img/guarantee.png") no-repeat;
}

.credit-content:after {
	content: "";
	position: absolute;
	width: 462px;
    height: 285px;
    top: 81px;
    left: 460px;
	background: url("../img/credit.png") no-repeat;
}

/* Если нужно временно скрыть 

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*/
