body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style: none;
}

header {
	background-color: #f3f7f8;
}

.header-wrap {
	min-height: 320px;
}

.top {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background-color: #293449;
	height: 42px;
}

.logo-search {
	display: flex;
	width: 380px;
	margin: 0;
	padding-left: 130px;
	text-align: center;
}

.logo {
	display: block;
	max-height: 42px;
	min-width: 220px;
	background-color: #ee3643;
	box-shadow: 0 5px #b52933;
}

.logo a {
	display: block;
	padding-top: 9px;
	font-family: 'Cuprum', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	line-height: 26px;
	border: none;
}

.form {
	display: block;
	max-height: 42px;
	min-width: 270px;
}

.search-form {
	position: relative;
}

.search-form input {
	height: 42px;
	width: 270px;
	padding-left: 46px;
}

.input {
	padding: 0;
	border: none;
	background-color: #293449;
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
	line-height: 18px;
	outline: none;
}

input[type="search"]::-webkit-input-placeholder {
    color: #fff;
}

input[type="search"]:focus {
	background-color: white;
}

input[type="search"]:hover {
	background-color: #212a3a;
}

.button-search {
	position: absolute;
	background-color: #293449;
	border: none;
	outline: none;
}

.search-form:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 15px;
	width: 17px;
	height: 17px;
	background: url("../img/icon-search.png");
	background-repeat: no-repeat; 
	opacity: 0.3;
}


.search-form:hover:before {
	opacity: 1;
}

.orders {
	display: flex;
	flex-wrap: wrap;
    align-items: flex-end;
    text-align: center;
	margin: 0;
	padding-left: 118px;
	font-family: 'Cuprum', sans-serif;
}

.orders a {
	position: relative;
	font-size: 17px;
	line-height: 18px;
}

.bookmarks {
	padding-left: 35px;
	padding-bottom: 10px;
	padding-top: 11px;
	padding-right: 33.5px;
}

.bascket {
	padding-bottom: 10px;
	padding-top: 11px;
	padding-right: 31px;
	padding-left: 43.5px;
}

.get {
	background-color: #63a63e;
	height: 42px;
}

.get a {
	display: block;
	padding-top: 10.5px;
	padding-right: 21px;
	padding-left: 21px;
}

.bookmarks a:before {
	content: "";
	position: absolute;
	top: 1px;
	left: -27px;
	width: 14px;
	height: 16px;
	background: url("../img/icon-bookmark.png");
	background-repeat: no-repeat; 
	opacity: 0.3;
}

.bascket a:before {
	content: "";
	position: absolute;
	top: 1px;
	left: -31px;
	width: 15px;
	height: 15px;
	background: url("../img/bascket.png");
	background-repeat: no-repeat; 
	opacity: 0.3;
}

.bookmarks:hover,
.bascket:hover {
	background-color: #212a3a;
}

.get:hover {
	background-color: #5fbb2d;
}

.bookmarks a:hover:before,
.bascket a:hover:before {
	opacity: 1;
}

.bookmarks:focus,
.bascket:focus {
	background-color: #161d29;
}

.get:focus {
	background-color: #518534;
}

.bookmarks a:focus,
.bascket a:focus,
.get a:focus {
color: #999ca1;
}

.hz {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.left {
	width: 400px;
}

.description {
	text-align: left;
	font-family: 'Cuprum', sans-serif;
	font-style: italic;
	font-size: 16px;
	line-height: 22px;
	color: #ee3643;
	font-weight: bold;
	padding-top: 34px;
	padding-left: 182px;
}

.center {
	position: relative;
	width: 370px;
}

.telephone {
	display: block;
    width: 242px;
    margin-top: 47px;
    margin-bottom: 0;
    margin-left: 48px;
    padding-left: 22px;
    padding-top: 10px;
    padding-bottom: 13px;
    border: 3px solid #fff;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
    font-size: 22px;
    line-height: 16px;
    color: #ee3643;
}

.telephone:before {
	content: "";
	position: absolute;
	top: 59px;
    left: 64px;
	width: 18px;
	height: 19px;
	background-image: url("../img/icon-phone.png");
	background-repeat: no-repeat;
}

.adress {
	display: block;
	width: 265px;
	margin-left: 52px;
	padding-top: 1px;
	font-family: 'Cuprum', sans-serif;
	text-align: center;
	font-size: 14px;
	line-height: 0px;
	color: #32425c;
}

.right {
	width: 430px;
	margin-top: 46px;
	padding: 0;
}

.block-right {
	position: relative;
	display: flex;
	margin: 0; 
	padding: 0;
}

.button {
	display: block;
	padding-top: 14px;
	padding-bottom: 15px;
	background-color: #fff;
	font-family: 'Cuprum', sans-serif;
	font-size: 22px;
    line-height: 16px;
	color: #000;
}

.block-right li:last-child {
	padding-left: 10px;
}

.block-right li:first-child {
	margin-left: 18px;
}

.enter {
	padding-left: 47px;
    padding-right: 24px;
}

.enter:before {
	content: "";
	position: absolute;
	top: 14px;
    left: 31px;
	width: 20px;
	height: 17px;
	background-image: url("../img/icon-login.png");
	background-repeat: no-repeat;
	opacity: 0.1;
}

.registration {
	padding-right: 23px;
	padding-left: 23px;
}

.enter:hover:before {
	opacity: 1;
}

.button:hover {
	color: #ee3643;
}

.button:focus {
	color: #c5c5c5;
}

.main-navigation {
	width: 942px;
	margin-left: 129px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	margin-top: 25px;
	margin-bottom: 0;
	padding: 0;
	background-color: #32425c;
	box-shadow: 0 5px #293449;
}

.navigation-item {
	padding-top: 21px;
	padding-bottom: 18px;
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
    line-height: 18px;
}

.main {
	padding-left: 50px;
	padding-right: 25px;
}

.company {
	padding-left: 38px;
	padding-right: 25px;
}

.catalog {
	padding-right: 25px;
	padding-left: 28px;
}

.news {
	padding-right: 25px;
	padding-left: 32px;
}

.offers {
	padding-right: 25px;
	padding-left: 32px;
}

.delivery {
	padding-right: 25px;
	padding-left: 30px;
}

.contacts {
	padding-right: 53px;
	padding-left: 34px;
}

.navigation-item:hover {
	background-color: #293449;
}

.navigation-item a:focus {
	color: #b2b2b2;
}

/* Контент */

.main-page {
	margin: 0;
}

.promo-block {
	margin: 0 130px 0 130px;
}

.promo-top {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin-top: 60px;
}

.promo-item {
	position: relative;
	width: 300px;
	min-height: 123px;
}

.materials {
	background-color: #ffbf47;
}

.materials:before {
	content: "";
	position: absolute;
	width: 60px;
	height: 59px;
	top: 0px;
	left: 240px;
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
}

.materials:after {
	content: "";
	position: absolute;
	width: 44px;
	height: 65px;
	top: 30px;
	left: 212px;
	background-image: url("../img/icon-1.png");
	background-repeat: no-repeat;
}

.tools {
	background-color: #3bbce3;
}

.tools:after {
	content: "";
	position: absolute;
	width: 75px;
	height: 61px;
	top: 32px;
	left: 196px;
	background-image: url("../img/icon-2.png");
	background-repeat: no-repeat;
}

.machinery {
	background-color: #dc91d8;
}

.machinery:after {
	content: "";
	position: absolute;
	width: 78px;
	height: 62px;
	top: 30px;
	left: 190px;
	background-image: url("../img/icon-3.png");
	background-repeat: no-repeat;
}

.promo-name {
	font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 23px;
    padding-bottom: 25px;
    margin: 0;
}

.promo-button {
	background-color: rgba(106, 113, 128, 0.3);
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #fdfbfb;
    border-radius: 3px;
    margin-left: 25px;
}

.promo-button:hover {
	background-color: rgba(106, 113, 128, 0.5);
}

.promo-button:focus {
	background-color: rgba(106, 113, 128, 0.8);
}

.materials a {
	padding: 12px 24px 10px;
}

.tools a {
	padding: 12px 24px 10px 26px;
}

.machinery a {
	padding: 12px 30px 10px 28px;
}

.promo-bottom {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin-top: 20px;
}

.sales {
	background-color: #8ed78f;
}

.delivery-promo {
	background-color: #ffc047;
	margin-top: 20px;
}

.sales a {
	padding: 12px 24px 10px 20px;
}

.delivery-promo a {
	padding: 12px 34px 10px 36px;
}

.sales:after {
	content: "";
	position: absolute;
	width: 60px;
	height: 73px;
	top: 25px;
	left: 194px;
	background-image: url("../img/icon-4.png");
	background-repeat: no-repeat;
}

.delivery-promo:after {
	content: "";
	position: absolute;
	width: 78px;
	height: 64px;
	top: 30px;
	left: 190px;
	background-image: url("../img/icon-5.png");
	background-repeat: no-repeat;
}


/*
.slides-container {
	margin: 0;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.slides-wrap {
	position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform,-webkit-transform;
    box-sizing: content-box;
}

.promo-slide, .slides-wrap {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/*



/* Если нужно временно скрыть 

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*/